<launch>

  <node name="panda_arm" pkg="coppeliasim_panda_driver" type="coppeliasim_panda_node.py" output="screen" />
  <node name="coppeliasim_master" pkg="coppeliasim_master" type="coppeliasim_master_node.py" output="screen" />

  <include file="$(find panda_moveit_config)/launch/demo.launch">
</launch>