<?xml version="1.0" ?>
<robot name="rl_scene" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="arm_id_1" default="panda_1" />

  <xacro:include filename="$(find rl_scene_description)/urdf/materials.xacro" />

  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find robotiq_epick_extend_visualization)/urdf/epick_extend_visualize.xacro"/>

  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 -2.3283064365386967e-16 0.005"/>
      <mass value="1256.0"/>
      <inertia ixx="1674.677133" ixy="-0.0" ixz="0.0" iyy="1674.677133" iyz="-0.0" izz="3349.333333"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://rl_scene_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://rl_scene_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_box_1_1">
    <inertial>
      <origin rpy="0 0 0" xyz="1.2717486679278676e-16 0.0 0.03175959070611188"/>
      <mass value="53.89391980829295"/>
      <inertia ixx="1.185042" ixy="0.0" ixz="0.0" iyy="2.312279" iyz="-0.0" izz="3.413976"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.0 0.5 -0.01"/>
      <geometry>
        <mesh filename="package://rl_scene_description/meshes/link_box_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.0 0.5 -0.01"/>
      <geometry>
        <mesh filename="package://rl_scene_description/meshes/link_box_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_box_2_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 -1.2717486679278676e-16 0.03175959070611188"/>
      <mass value="53.89391980829295"/>
      <inertia ixx="2.312279" ixy="-0.0" ixz="-0.0" iyy="1.185042" iyz="-0.0" izz="3.413976"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.0 -0.0 -0.01"/>
      <geometry>
        <mesh filename="package://rl_scene_description/meshes/link_box_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.0 -0.0 -0.01"/>
      <geometry>
        <mesh filename="package://rl_scene_description/meshes/link_box_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="box_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 -0.5 0.01"/>
    <parent link="base_link"/>
    <child link="link_box_1_1"/>
  </joint>

  <joint name="box_2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.5 0.0 0.01"/>
    <parent link="base_link"/>
    <child link="link_box_2_1"/>
  </joint>

  <!-- right arm with gripper -->
  <xacro:panda_arm arm_id="$(arg arm_id_1)" connected_to="base_link"  xyz="0.0 0.0 0.01" safety_distance="0.03"/>
  <xacro:epick_extend rpy="0 0 0" connected_to="$(arg arm_id_1)_link8"/>

  <joint name="panda_world_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.01"/>
    <parent link="base_link"/>
    <child link="link_box_2_1"/>
  </joint>


</robot>
